<header>
    <div class="container">
        <nav class="navbar">
            <a href="index.html" class="logo">
                <img src="Images/Logo character 50x50.png" alt="Shusmo character">
                <p>&nbsp Shusmo</p>
            </a>
            <button class="mobile-menu-btn">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="games.html">Games</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </div>
</header>